$breakpoint-tablet: 979px;
$breakpoint-mobile: 400px;
/* Alert Banner - Start */
.block-alert-banner {
  display: flex;
  padding: 1.125rem 3.375rem;
  background-color: #0d1214;
  .block__content {
    flex-grow: 1;
  }
  .field--name-field-message.field__item {
    display: list-item;
    list-style: disclosure-closed;
    color: white;
    a {
      color: white;
      &:hover {
        box-shadow: none;
      }
    }
  }
}
/* Alert Banner - Stop */

/* TB Mega menu - Start */
.tb-megamenu {
  background: none !important;
  .tb-megamenu-nav .tb-megamenu-item {
    span.tb-megamenu-no-link, a {
      background: none !important;
      background-color: white !important;
      border: none !important;
      border-bottom: solid 5px transparent !important;
      color: rgb(13, 18, 20) !important;
      text-decoration: none !important;
      span.caret {
        border-top-color: rgb(13, 18, 20) !important;
        border-bottom-color: rgb(13, 18, 20) !important;
      }
      &::after {
        border-left-color: rgb(13, 18,20) !important;
      }
      &:hover {
        border-bottom: solid 5px #2494db !important;
      }
    }
    .tb-megamenu-submenu {
      background-color: white !important;
      .tb-megamenu-subnav li {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        a {
          background: none !important;
          color: rgb(13, 18, 20) !important;
        }
      }
    }
  }
  .tb-megamenu-submenu.dropdown-menu {
    border-top: solid #2494db 9px;
    border-right: solid 1px transparent;
    border-bottom: solid 1px transparent;
    border-left: solid 1px transparent;
    border-radius: 0 0 2px 2px;
  }
  >.tb-megamenu-button {
    display:none;
  }
  >.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
    position: relative;
  }
}
/* TB Mega menu - Stop */

/* Google translate - Start */
#block-googletranslator {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  .goog-te-gadget {
    font-size: 0;
    span .goog-logo-link {
      display: none;
    }
  }
}
/* Google translate - Stop */

@media (max-width: $breakpoint-tablet) {
  /* TB Mega menu - Start */
  .tb-megamenu {
    .tb-megamenu-submenu.dropdown-menu {
      border: none !important;
    }
  }
  /* TB Mega menu - Stop */

  /* Google translate - Start */
  #block-googletranslator {
    position: inherit;
  }
  /* Google translate - Stop */
}
/* TB Mega menu - Stop */

/* Search page - Start */
body.path-search {
  .tabs--primary {
    display: none;
  }
  ol.node_search-results {
    li.search-results__item::after {
      width: 100%;
    }
    .search-result__title {
      margin-bottom: 0;
    }
    .search-result-item-wrap {
      margin-top: 1.125rem;
      display: flex;
      img {
        align-self: baseline;
      }
      .search-result__snippet {
        padding: 0.8rem;
      }
    }
  }
}
/* Search page - Stop */

/* Hero slideshow - Start paragraph--hero-slide.html.twig*/
.slick-arrow::before {
  color: #2494db;
}
.paragraph--type--hero-slide {
  text-align: center;
  .slick-slider-text-wrap {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    padding: 0 3rem 4rem 0;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1));
    text-shadow: 2px 2px 5px black;
    div {
      margin: 0;
      color: white;
    }
  }
  .field--name-field-title {
    font-size: 2.25rem;
    line-height: 3.375rem;
  }
  .field--name-field-description {
    font-size: 1.3125rem;
    line-height: 1.6875rem;
  }
}
ul.slick-dots {
  position: absolute;
  bottom: 3rem;
  margin: 0;
  padding-right: 3rem;
}

@media (max-width: $breakpoint-tablet) {
  .paragraph--type--hero-slide {
    .slick-slider-text-wrap {
      bottom: 2rem;
      padding-bottom: 2rem;
      padding-right: 0;
    }
    .field--name-field-title {
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }
    .field--name-field-description {
      font-size: 0.65625rem;
      line-height: 0.84375rem;
    }
    .field--name-field-url {
      font-size: 0.65625rem;
      line-height: 0.84375rem;
    }
  }
  ul.slick-dots {
    bottom: 2rem;
    padding-right: 0;
  }
}
/* Hero slideshow - Stop */

/* Stats block - Start */
.block__stats {
  grid-column: 1/15 !important;
  padding: 1rem 1.5rem;
  @media (min-width: $breakpoint-mobile) {
    .field--name-field-stat-item {
      display: flex;
      flex-direction: row;
    }
  }
  .field--name-field-stat-item {
    align-content: center;
    justify-content: space-evenly;
    background-color: #f7f9fa;
    padding: 1rem 0.5rem;
    .field__item {
      background-color: #2494db;
      color: white;
      @media (min-width: $breakpoint-tablet) {
        margin: 0 0.5rem;
      }
      padding: 0.5rem;
      @media (min-width: $breakpoint-mobile) {
        width: 20%;
      }
    }
  }
  .paragraph--type--stat-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    .field {
      margin: 0;
    }
    .stat_number_suffix {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 24px;
      font-weight: bold;
    }
    .field--name-field-stat-description {
      width: 100%;
      text-align: center;
      line-height: 1.5rem;
      padding: 0;
    }
  }
}
/* Stats block - Stop */

/*Content below full width  - Start */
.region--content-below-full {
  min-height: 50px;
  background: #2494db;
  .block__content {
    padding-top: 10px;
  }
}
.field--name-field-menu {
  @media (min-width: $breakpoint-mobile) {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .field__item {
    padding-left: 20px;
    padding-right: 20px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
/*Content below full width  - Stop */

/*Icon menus block - start*/
#block-iconmenublock {
  background: #2494db;
  padding-top: 20px;
  padding-bottom: 20px;
  .field--name-field-icon {
    margin-bottom: 2.25rem;
  }
}
@media (min-width: $breakpoint-mobile) {
  .field--name-field-icon-menus {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.paragraph--type--icon-menus {
  text-align: center;
  padding: 20px;
  .field__item {
    i {
      color: white;
      font-size: 6em;
      }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
/*Icon menus block - stop*/
